// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

body {
  background: $bgcolor;
  font-size: 16px;
  a {
    color: $linkcolor;
  }
  .indent-sm {
    margin-left: 10px;
  }

  .button-container__button {
    margin-top: 5px;
    margin-right: 11px;
    &:last-child { margin-right: 0; }
    -moz-box-shadow: 0px 1px 0px 0px $button-shad;
    -webkit-box-shadow: 0px 1px 0px 0px $button-shad;
    box-shadow: 0px 1px 0px 0px $button-shad;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $button-grad), color-stop(1, $buttonbg));
    background: -moz-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
    background: -webkit-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
    background: -o-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
    background: -ms-linear-gradient(top, $button-grad 5%, $buttonbg 100%);
    background: linear-gradient(to bottom, $button-grad 5%, $buttonbg 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-grad', endColorstr='$buttonbg', GradientType=0);
    background-color: $button-grad;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid $buttonbg;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #c70067;
    &:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $buttonbg), color-stop(1, $button-grad));
      background: linear-gradient(to bottom, $buttonbg 5%, $button-grad 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$buttonbg', endColorstr='$button-grad', GradientType=0);
      background-color: $buttonbg;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }

  .footer {
    background-color: $bgcolor;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    display: flex;
  }

  .active {
    box-shadow: 1px 1px 2px $active-button-color;
  }

  .nav-bottom {
    padding: 0 10px;
  }

  .row{
    padding-left: 21px;
    padding-right: 21px;
  }

  .row--headline {
    min-height: 120px;
  }
  .row--headline h1 {
    font-weight: bold;
  }

  .row--buttons {
    display: flex;
  }

  .row--twitter {
    height: 50px;
  }

  .row--topbar {
    background-color: $bgcolor;
    color: $linkcolor;
  }
  .radio-button label {
    margin-right: 15px;
    font-size: 16px;
  }

  .button-container {
    margin: 21px 15px;
    display: flex;
  }

  #main {
    background-color: $contrastcolor;
  }
}

